.button{
  margin-bottom: 210px;
  margin-right: 12px;

}
.--border-radius {
  border-radius: 15px !important;

}
.container {
  padding: 24px 16px;
}

.ordersList {
  ion-item {
    border-radius: 5px;
  }

  ion-item + ion-item {
    margin: 0.75rem 0;
  }
}

.orderCardItems {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
  font-size: 14px;

  .deadlineExpired {
    background-color: #FCE8E3;
    padding: 0.2rem 0;
    width: 280px;
    text-align: center;
  }

  .strong {
    color: #666666;
  }
}

.statuses {
  position: sticky;
  top: 0;
  padding-top: 1.25rem;
  background-color: #f5f5f5;
  z-index: 5;
}

