@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

ion-toolbar{
    --min-height: 56px !important;
    padding: 0 16px;
}

ion-item::part(detail-icon) {
    color: #666666;
    opacity: 1;
}

ion-input.input__wrapper{
    border: #9E9E9E 1px solid;
    border-radius: 4px;
    padding: 0 0 0 12px !important;
    background-color: #FFF;

    label{
        margin: 0;
    }
}

ion-label.label__account {
    padding: 1rem 0;
}

ion-select{
    border: #9E9E9E 1px solid;
    border-radius: 4px;
    padding: 0 0 0 12px !important;
    background-color: #FFF;
    min-height: 44px;
}

ion-button::part(native) {
    border-radius: 4px;
}

ion-searchbar{
    --background: #FFF !important;
    --border-radius: 4px;
    padding: 0 !important;
    min-height: fit-content !important;    
}

.search__toolbar {
    margin-top: -1rem;
}

.searchContainer {
    background-color: #FFF;
    border-bottom: 1px solid #ddd;
    padding: 8px 12px;
    background-color: #fff;
}

.searchbar-input{
    border-bottom: 1px solid rgba(158, 158, 158, 1) !important;
    border-radius: 0 !important;
}

ion-item.input__field::part(native) {
    background-color: transparent;
    margin-top: 12px;
    --border-color: #00000000;
}

ion-list{
    border-radius: 5px !important;
}

ion-list.button__wrapper{
    margin-top: 24px !important;
}

ion-list.list-ios{
    background-color: transparent;
}

ion-list-header{
    height: 24px;
    margin-bottom: 12px;
}

ion-list.scrollable{
    overflow-y: scroll;
    max-height: calc(100% - 116px)
}

ion-fab-button {
    --border-radius: 15px;
}

ion-button.bottom-50 {
    width: 100%; 
    padding: 0 16px;
    position: fixed;
    bottom: 50px;
}

.card__wrapper {
    padding: 24px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.fab-bottom-right {
    position: fixed;
    bottom: 100px;
    right: 20px;
}

.add-button{
    --background: #FFF;
}

.capitalized{
    text-transform: capitalize;
}

.preloader{
    height: 50%;
}

.customCheckbox{
    --border-radius: 0;
    --size: 16px;
    --border-color: #666666;
}

ion-checkbox.single-checkbox{
    --size: 32px;
    --border-radius: none;
    --checkbox-background-checked: #00000000;
    --border-color-checked: #00000000;
    --checkmark-color: var(--Orange);
    --border-color: #00000000;
}

ion-modal.selectModal, ion-modal.settingsModal{
    --height: 100% !important;
}

ion-loading{
    --spinner-color: #fe6100 !important;
}

ion-segment-button{
    min-width: auto;
}

ion-item ion-icon{
    margin-right: 12px;
}

.text-bold{
    font-weight: 600;
}