.container {
  padding: 10px;
}

.tooltip {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(42, 98, 149, 0.25);
  border-radius: 4px;
  width: 240px;
  height: 159px;
}

.header {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  /* Surface/On surface/High emphasis */

  color: #212121;
}

.time {
  color: #9e9e9e;
  margin-left: 5px;
}

.stockNumber {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* or 48px */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #ff7b29;
  margin-right: 5px;
}

.stockIn {
  color: #87bc45;
}

.low {
  color: #ff7b29;
}

.out {
  color: #e00606;
}

.stock {
  display: flex;
  align-items: baseline;
}

.status {
  margin-top: 10px;
  letter-spacing: 0.1px;
  color: #fff;
  border-radius: 20px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  width: fit-content;
}

.statusStock {
  background-color: #87bc45;
}

.statusLowStock {
  background-color: #ff7b29;
}

.statusOutStock {
  background-color: #e00606;
}
.click {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  /* Surface/On surface/Low emphasis */

  color: #9e9e9e;
  margin-top: 20px;
}

.labels {
  display: flex;
  margin-left: 44px;
}

.label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.1px;

  /* Surface/On surface/Low emphasis */

  color: #9e9e9e;
}

.label:not(:first-child) {
  margin-left: 30px;
}

.label-inStock {
  width: 10px;
  height: 10px;
  background: #87bc45;
  margin-right: 10px;
}

.label-low-stock {
  width: 10px;
  height: 10px;
  background: #ff7b29;
  margin-right: 10px;
}

.label-out-stock {
  width: 10px;
  height: 10px;
  background: #e00606;
  margin-right: 10px;
}
