@import 'src/styles/media.scss';
@import 'src/styles/fonts.scss';

.modal {
  max-width: 880px;
  height: fit-content;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &_title {
    @include h2;
    color: var(--HightEmphasis);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 68px;

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &_error {
    color: var(--Red);
  }
  &_submit {
    display: flex;
    align-self: flex-end;
  }
}
