@import 'src/styles/media.scss';
@import 'src/styles/fonts.scss';

.modal {
  max-width: 880px;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background-color: #FFFFFF;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
  left: 0;
  background: #FFFFFF;
  z-index: 2;
  padding: 20px;
  &_title {
    @include h2;
    color: var(--HightEmphasis);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin-top: 140px;
  top:40px;
  left: 0;
  padding: 20px;
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &_error {
    color: var(--Red);
  }
  &_submit {
    display: flex;
    align-self: flex-end;
  }
}
