@import './../../styles/common.scss';

.capitalized{
    text-transform: capitalize;
}

.customSearchbar {
    --background: transparent;
    --border-color: transparent; 
    --box-shadow: none; 
    border-bottom: 1px solid black;
  }
  
  .customSearchbar .searchbar-input {
    background: transparent; 
  }
  
  .customSearchbar .searchbar-search-icon {
    color: black; 
  }