@import 'src/styles/colors.scss';

.content {
  margin-bottom: 10px;
  & input[type='radio'] {
    display: none;
  }
  & label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
  }
  & label:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url('./radio-2.svg') 0 0 no-repeat;
  }

  /* Checked */
  & input[type='radio']:checked + label:before {
    background: url('./radio-1.svg') 0 0 no-repeat;
  }

  /* Hover */
  & label:hover:before {
    filter: brightness(120%);
  }

  /* Disabled */
  & input[type='radio']:disabled + label:before {
    filter: grayscale(100%);
  }
}
