/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


:root {
	--ion-color-primary: #FE6100;
	--ion-color-primary-rgb: 254,97,0;
	--ion-color-primary-contrast: #FFF;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e05500;
	--ion-color-primary-tint: #fe711a;

	--ion-color-light: #F5F5F5;
	--ion-color-light-rgb: 245, 245, 245;
	--ion-color-light-contrast: #A6A6A6;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #EDEDED;
	--ion-color-light-tint: #FFF;

	/* --ion-toolbar-background: #FFF; */
	--ion-background-color: #F5F5F5;
	--ion-item-background: #FFF;

	--ion-toolbar-background: #FFF;

	--ion-color-dark: #000000;
	--ion-color-dark-rgb: 0,0,0;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1a1a1a;

}