.zones {
  &__left {
    width: calc(100% - 380px);
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    .area {
      display: flex;
      position: relative;
      height: max-content;
      width: 100%;
      height: 100%;
      background-color: white;
      .image_container {
        position: relative;
        width: max-content;
        .newCoordinates {
          position: absolute;
          z-index: 5;
          background-color: #ffffff40;
        }
        .draw {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &_img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          object-position: top left;
        }
      }

      .scale {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #ffffff;
        z-index: 100;
        cursor: pointer;
        transition: all 0.4s;
      }
      .remove {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 50px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all 0.4s;
        z-index: 101;
        color: white;
        transform: translate(43px, -43px);
        opacity: 10 !important;
        &:hover {
          color: rgb(218, 215, 47);
        }
      }
    }
    .footer {
      gap: 10px;
      height: 48px;
      width: 100%;
      padding: 10px 30px 20px 10px;
      background-color: #ffffff;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      &__text {
        position: absolute;
        top: 10px;
        left: 10px;
        font-weight: 600;
        font-size: 14px;
        span {
          color: red;
        }
      }
    }
  }
}
.oldCoord {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgba(33, 33, 33, 0.6);
  color: #ffffff;
  border: 1px solid #666666;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
}