@import '../../../../styles/media.scss';
@import '../../../../styles/fonts.scss';

.container {
  overflow-y: scroll;
  height: calc(100% - 100px);
  .history {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &_title {
      @include h6;
      color: var(--HightEmphasis);
      letter-spacing: 0.1px;
    }
  }

  .historyItems {
    .item {
      display: flex;
      margin-top: 10px;
      cursor: pointer;
    }
    .status {
      margin-left: 10px;
    }
  }

  #d3Test {
    width: 100%;
    margin-top: 50px;
  }
}
