@import '../../styles/media.scss';
@import '../../styles/fonts.scss';

@mixin buttonBase {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s;
}

.contained {
  @include buttonBase;
  @include button;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  background: var(--Orange);
  color: var(--White);
  border: none;
  &:hover {
    background: var(--SaddleBrown);
  }
}

.outlined {
  @include buttonBase;
  @include button;
  padding: 2px 10px 2px 10px;
  border-radius: 4px;
  color: var(--Orange);
  border: 2px solid var(--Gray88);
  &:hover {
    background: var(--Gray88);
  }
}

.text {
  @include buttonBase;
  @include button;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  color: var(--Orange);
  border: none;
  background: initial;
  &:hover {
    background: var(--Gray88);
  }
}
.oval {
  @include buttonBase;
  @include body2;
  padding: 4px 10px 4px 10px;
  border-radius: 16px;
  color: var(--HightEmphasis);
  border: none;
  background: var(--Gray88);
  &:hover {
    background: var(--Gray85);
  }
}

.gap {
  gap: 4px;
}
