@import 'src/styles/media.scss';
@import 'src/styles/fonts.scss';

.modal {
  max-width: 880px;
  max-height: 615px;
  justify-content: start;

  .image {
    object-fit: cover;
    aspect-ratio: 11 /6;
  }

  .imageContainer {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e0e0e0;
    background-size: contain;
    position: relative;

    .camera {
      position: absolute;
      bottom: 15px;
      transform: translate(-50%, 0);
      left: 50%;
      width: 250px;

      background: rgba(0, 0, 0, 0.5);
      border-radius: 31px;

      .text {
        text-align: center;
        letter-spacing: 0.1px;

        color: var(--White);

        padding: 4px 15px;
        @include body2;
      }
    }
  }
}

.infoBlock {
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-between;

    .status {
      letter-spacing: 0.1px;
      color: var(--White);
      border-radius: 20px;
      padding: 4px 10px;

      @include caption;
    }

    .statusStock {
      background: var(--Green);
    }

    .statusLowStock {
      background: var(--StockOrange);
    }

    .statusOutStock {
      background: var(--StockRed);
    }
  }

  .operation {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--HightEmphasis);
    margin-bottom: 10px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.subtitle {
  @include caption;
  color: var(--MediumEmphasis);

  .value {
    font-weight: 500;
    color: var(--HightEmphasis);
  }
}

.close {
  position: absolute;
  top: 0px;
  right: -40px;
  right: -45px;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(33, 33, 33, 0.87);
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.prev{
  position: absolute;
  left:20px;
  top:49%;
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.next{
  position: absolute;
  right:20px;
  top:49%;
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0.8;
  transform: rotate(180deg);
  &:hover{
    opacity: 1;
  }
}

.scale {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.fullimage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #00000070;
  backdrop-filter: blur(5px);
  z-index: 5000;

  &_image {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    position: relative;
  }
  &_out {
    position: absolute;
    bottom: calc(5% + 20px);
    right: calc(5% + 20px);
  }
}
