.zones {
  width: 100%;
  height: calc(100% - 160px);
  border: 1px solid red;
  display: flex;
  &__right {
    height: 100%;
    width: 380px;
    min-width: 380px;
    max-width: 380px;
    border: 1px solid red;
  }
}
