@import '../../../../styles/media.scss';
@import '../../../../styles/fonts.scss';
.zones {
  height: calc(90vh - 170px);
  overflow: auto;
  display: flex;
  &__right {
    height: auto;
    width: 380px;
    min-width: 380px;
    max-width: 380px;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    color: #9e9e9e;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    padding: 0 0 8px 0;
    background-color: #ffffff;
    .add {
      color: #fe6100;
      cursor: pointer;
      transition: all 0.4s;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      &:hover {
        color: #e55700;
      }
    }
    .added {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      pointer-events: none;
      color: #9e9e9e;
    }
  }
}
.list {
  height: 100%;
  overflow: auto;
}
.item {
  width: 100%;
  padding-right: 20px;
  &__edit {
    padding: 18px 10px;
    background: #f5f5f5;
  }
  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    &_control {
      display: flex;
      gap: 20px;
    }
  }
  &__input {
    height: 40px;
    width: 100%;
    border: 1px solid var(--LowEmphasis);
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 30px;
    &:focus {
      border-color: #212121;
      outline: none;
    }
  }
  &__combobox {
    margin-bottom: 30px;
    width: 100%;
  }
  &__label {
    margin-bottom: 30px;
  }
  &__delete {
    background: #e00606;
    transition: all 0.4s;
    &:hover {
      background: #fe6100;
    }
  }
  &__description {
    color: #666666;
  }
}
.zona {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 50px;
  max-width: 100%;
  width: 100%;
  &__left {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
  &__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  &__workplace {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    white-space: nowrap;
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
    overflow: hidden;
  }
  &__right {
    width: 20%;
    cursor: pointer;
    text-align: right;
  }
  .rotate {
    transform: rotate(180deg);
  }
}

.creating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 44px;
  p {
    text-align: center;
    width: 320px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background-color: rgba(255, 255, 255, 0.7);
}

.zonesSwitcher{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}