.add-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
 &__select{
  width: 100%;
  height: 51px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  padding: 16px 13px;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  &:focus {
    border-color: #212121;
    outline: none;
  }
 }
  &__container {
    width: 560px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    h3 {
      margin-bottom: 30px;
    }
  }
  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  &__input {
    width: 100%;
    height: 51px;
    margin-bottom: 50px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    padding: 16px 13px;
    color: #212121;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    &:focus {
      border-color: #212121;
      outline: none;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 30px;
  }
  &__cancel {
    padding: 4px 10px;
    background: #ffffff;
    color: #fe6100;
    border: none;
    cursor: pointer;
  }
  &__create {
    padding: 4px 10px;
    background: #fe6100;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
}
