@import '../../../../styles/media.scss';
@import '../../../../styles/fonts.scss';

.modal {
  max-width: 560px;
  max-height: 360px;
  padding: 20px;
  justify-content: space-between;

  .header {
    @include h3;
    letter-spacing: 0.15px;
    color: var(--HightEmphasis);
  }

  .text {
    color: var(--HightEmphasis);
    letter-spacing: 0.15px;
    @include body1;
    margin-top: 10px;
  }

  .buttons {
    display: flex;
    align-self: flex-end;
    .cancel {
      background: transparent;
      color: var(--Orange);
    }
  }

  button:not(:first-child) {
    margin-left: 20px;
  }
}
