@import '../../styles/media.scss';
@import '../../styles/fonts.scss';

.container {
  display: flex;
  margin-bottom: 50px;
  padding-left: 10px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 391px;
    width: calc(100% - 391px);
    border-bottom: 1px solid var(--Gray85);
  }
  border-bottom: none;
}

.tab {
  min-width: 122px;
  position: relative;
  padding: 10px 20px;
  list-style-type: none;
  cursor: pointer;
  text-align: center;
  user-select: none;
  &_active {
    border: 1px solid var(--LowEmphasis);
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    }

  &_nonActive {
    border-bottom: 1px solid var(--Gray85);
  }
}
