.cameras{
    width: 100%;
    height: 100%;
    padding: 60px;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h1{
            font-size: 32px;
            font-weight: 600;
        }
        button{
            padding: 8px 44px;
            text-align: center;
            background: #FE6100;
            border-radius: 4px;
            color:#FFFFFF;
            border: none;
            font-size: 14px;
            line-height: 24px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover{
                background: #833505; 
            }
        }
    }
    &__modal{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #00000070;
        backdrop-filter: blur(2px);
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        &__showCamera{
            img{
                width: 100%;
                object-fit: contain;
            }
        }
        &__title{
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_close{
                cursor: pointer;
                transition: all 0.5;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        &__container{
            width: 50%;
            background-color: #FFFFFF;
            padding: 20px;
        }
        &__list{
            margin-bottom: 50px;
            &_item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #E0E0E0;
                cursor: pointer;
            }
        }
        &__login{
            display: flex;
            flex-direction: column;
            input{
                width: 100%;
                height: 51px;
                margin-bottom: 50px;
                border: 1px solid #9E9E9E;
                border-radius: 4px;
                padding: 16px 13px;
                color: #212121;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
            &__footer{
                display: flex;
                justify-content: flex-end;
                gap:15px;
                margin-top: 30px;
            }
            &__cancel{
                padding: 4px 10px;
                background: #FFFFFF;
                color: #FE6100;
                border: none;
                cursor: pointer;
            }
            &__create{
                padding: 4px 10px;
                background:  #FE6100;
                color: #FFFFFF;
                border: none;
                cursor: pointer;
                border-radius: 4px;
            }
        }
    }
    &__list{
        margin-bottom: 50px;
        &_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #E0E0E0;
            cursor: pointer;
        }
    }
}