@import 'src/styles/fonts';

@mixin label {
  display: flex;
  align-items: center;
}

@mixin contained {
  height: 24px;
  padding: 0 10px;
  border-radius: 20px;
  user-select: none;
}

.contained {
  &_started {
    @include contained;
    @include label;
    background-color: var(--Orange);
    color: var(--White);
    .type {
      @include caption;
    }
  }
  &_completed {
    @include contained;
    @include label;
    background-color: var(--Green);
    color: var(--White);
    .type {
      @include caption;
    }
  }
}

.text {
  &_started {
    @include label;
    color: var(--Orange);
    .type {
      @include title;
    }
  }
  &_completed {
    @include label;
    color: var(--Green);
    .type {
      @include title;
    }
  }
}
