.operation {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    z-index: 10;
  }

  .name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #666666;
  }

  .video {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #fe6100;
  }
  
  .respTime {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #666666;
  }