@import 'src/styles/fonts';

.wrapper {
  width: 100%;
  max-width: 175px;
  height: 58px;
  padding: 5px;
  border: 1px solid var(--Gray88);
  border-radius: 10px;
  background: var(--WhiteSmoke);

  .title {
    @include body2;
    color: var(--HightEmphasis);
  }

  .date {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: var(--MediumEmphasis);
  }
}
