:root {
  // Product
  --Orange: #fe6100;
  --Green: #87bc45;
  --Red: #ea5545;
  --WhiteSmoke: #f5f5f5;
  --White: #fff;
  --StockOrange: #ff7b29;
  --StockRed: #e00606;
  --SaddleBrown: #833505;

  // On Surface
  --TotalBlack: #000000;
  --HightEmphasis: #212121;
  --LightBlack: #0f1d3e;
  --MediumEmphasis: #666;
  --LowEmphasis: #9e9e9e;

  // Border
  --Gray88: #e0e0e0;
  --Gray85: #d9d9d9;
}
