@import '../../../../styles/media.scss';
@import '../../../../styles/fonts.scss';

.modal {
  max-width: 560px;
  max-height: 492px;
  padding: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      @include h3;
      color: var(--HightEmphasis);
    }
  }
}
