.moveable-line {
  position: absolute;
  width: 1px;
  height: 1px;
  background: #fe6100 !important;
  transform-origin: 0px 0.5px;
}
.moveable-control {
  width: 8px !important;
  height: 8px !important;
  border-radius: 0px !important;
  background-color: white !important;
  border: 1px solid #fe6100 !important;
  margin-top: -4px !important;
  margin-left: -4px !important;
}
.coordinates,
.coordinatesScale {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: rgba(255, 123, 41, 0.5);
  color: #ffffff;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  cursor: pointer;
  &:hover {
    border: 1px solid #fe6100;
  }
}
.coordSelected {
  border: 1px solid #fe6100;
}
