.wrapper {
  width: 100%;
  height: calc(100vh - 110px);
  .main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 30px 5px 0 5px;
  }
}
.tabs {
  position: relative;
  display: flex;
}

.tab {
  padding: 0px 20px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}
.active {
  color: #fe6100;
}
.noActive {
  color: #212121;
}