.camera {

  display: flex;
  padding: 10px 0;
  align-items: center;
  gap: 10px;

  &__image {
    border-radius: 4px;
    height: 70px;
    min-width: 120px;
    max-width: 120px;
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    
    &_date {
      opacity: .5;
    }
  }

}