
.image_container {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-height: 90vh;
  .img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top left;
  }
}

.oldCoord {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgba(33, 33, 33, 0.6);
  color: #ffffff;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  overflow: hidden;

}