ion-checkbox.reference-item {
    --checkbox-background: #00000000;
    --checkbox-background-checked: #00000000;
    --border-color-checked:#00000000;
    --border-color: #00000000;
    --checkmark-color: var(--ion-color-primary);
    --size: 24px;
}