.cameras-list{
    padding: 20px 60px;
    h1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        button{
            padding: 4px 20px;
            text-align: center;
            background: #fe6100;
            border-radius: 4px;
            color: #ffffff;
            border: none;
            font-size: 14px;
            line-height: 24px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
              background: #833505;
            }
        }
    }

    &__item{
    padding: 20px 0px;
    border-bottom: 1px solid #E0E0E0;
    color: #212121;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    }
}
.camera-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000070;
    backdrop-filter: blur(2px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        padding: 20px;
        margin: 0 auto;
        height: 70vh;
        width: 590px;
        background-color: #fff;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }
}