@import 'src/styles/media.scss';
@import 'src/styles/fonts.scss';

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  @include body1;
  color: var(--HightEmphasis);
  margin-bottom: 6px;
}

.block {
  position: relative;
  &__select {
    width: 100%;
    max-height: 50px;
    background: var(--White);
    border: 1px solid var(--LowEmphasis);
    border-radius: 4px;
    @include body1;
    color: var(--HightEmphasis);
    padding: 13px 16px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-appearance: none;
    appearance: none;
  }
  &__option {
    background-color: var(--Orange);
  }
  &__arrow {
    position: absolute;
    top: 40%;
    right: 20px;
  }
}
