@import '../../styles/media.scss';
@import '../../styles/fonts.scss';

.rw-widget-container {
  border: 1px solid var(--LowEmphasis) !important;
  box-shadow: none !important;
  &:focus,
  &:active {
    border-color: #212121 !important;
    outline: none !important;
  }
}
.cameras {
  width: 100%;
  height: 100%;
  &__button {
    padding: 4px 20px;
    text-align: center;
    background: #fe6100;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background: #833505;
    }
    &_cancel {
      padding: 4px 20px;
      text-align: center;
      background: #ffffff;
      border-radius: 4px;
      color: #fe6100;
      border: none;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: #ffffff;
        background: #fe6100;
      }
    }
  }
  &__preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  &__settings {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000070;
    backdrop-filter: blur(2px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    &_test {
      width: 100%;
      border: 2px solid #e0e0e0;
      border-radius: 4px;
      color: #fe6100;
      padding: 4px 0;
      text-align: center;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        background-color: #fe6100;
        color: #ffffff;
      }
    }
    &_text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #9e9e9e;
    }
    &_buttons {
      display: flex;
      gap: 15px;
      position: absolute;
      bottom: 8px;
      right: 20px;
    }
    h6 {
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      color: #9e9e9e;
      margin-bottom: 10px;
    }
    .sysSettings{
      border-top: 1px solid #E0E0E0;
      width: 100%;
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      color: #9e9e9e;
      padding: 10px 0;
    }
    &_modal {
      position: relative;
      width: calc(100% - 300px);
      height: 90vh;
      background-color: #ffffff;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
    &_modalLIL {
      position: relative;
      background-color: #ffffff;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
    &_img {
      width: 100%;
      height: 192px;
      object-fit: contain;
      object-position: center bottom;
      &_bad {
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        border: 2.54033px solid #e0e0e0;
        border-radius: 4px;
      }
    }
    &_header {
      display: flex;
      flex-direction: column;
      gap:15px;
      margin-bottom: 10px;
      h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
      }
    }
    &_descLIL {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      @media screen and (max-width: 1361px) {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
      }
      @media screen and (max-width: 970px) {
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
      }
    }
    &_ipLIL {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    &_container {
      width: 100%;
      height: calc(90vh - 170px);
      display: flex;
      border-bottom: 1px solid #e0e0e0;
    }
    &_containerLIL {
      width: 100%;
      height: 440px;
      display: flex;
    }
    &_right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 0 0px 0 20px;
    }
    &_left {
      min-width: calc(100% - 360px);
      width: calc(100% - 360px);
      padding: 0 12px 0 0;
      border-right: 1px solid #e0e0e0;
      overflow: auto;
    }
    &_inputs {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
      label{
        margin-bottom: 6px;
      }
      @media screen and (max-height: 675px) {
        margin-bottom: 20px;
      }
      &_connection {
        width: 100% !important;
        background: #f3f4f6;
        margin-bottom: 10px;
        padding: 6px 10px;
        position: relative;
        h6 {
          color: #9e9e9e;
          font-weight: 600;
          font-size: 12px;
          margin: 0;
        }
        h5 {
          color: #666666;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
        &_edit {
          position: absolute;
          right: 10px;
          top: calc(50% - 12px);
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #fe6100;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      > div {
        width: 48%;
        display: flex;
        flex-direction: column;
        input {
          height: 40px;
          @media screen and (max-height: 675px) {
            font-size: 14px;
            line-height: 16px;
            padding: 7px 16px;
          }
        }
      }
    }
    &_camera {
      padding: 0 0 30px 0;
      border-bottom: 1px solid #e0e0e0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      @media screen and (max-height: 675px) {
        padding: 0 0 15px 0;
      }
    }
    &_cameraLIL {
      padding: 0 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      label {
        margin: 30px 0 5px 0;
      }
      @media screen and (max-height: 675px) {
        padding: 0 0 15px 0;
      }
    }
  }
}
