@import '../../styles/media.scss';
@import '../../styles/fonts.scss';

.cameras {
  width: 100%;
  height: 100%;
  .rw-widget-container {
    border: 1px solid var(--LowEmphasis) !important;
    box-shadow: none !important;
    &:focus,
    &:active {
      border-color: #212121 !important;
      outline: none !important;
    }
  }
  &__button {
    padding: 4px 20px;
    text-align: center;
    background: #fe6100;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background: #833505;
    }
    &_cancel{
      padding: 4px 20px;
    text-align: center;
    background:  #ffffff;
    border-radius: 4px;
    color: #fe6100;
    border: none;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      color: #ffffff;
      background: #fe6100;
    }
    }
  }
  &__preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  &__desciption {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h2 {
      @include h2;
      color: var(--HightEmphasis);
    }
  }
  &__list {
    margin-bottom: 50px;
    &_delete {
      width: 20px;
      height: 20px;
      z-index: 2000;
      transition: all 0.4s;
      fill: #26272b;
      &:hover {
        fill: #fe6100;
      }
    }
    &_image {
      height: 70px;
      min-width: 120px;
      max-width: 120px;
      object-fit: contain;
    }
    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-weight: 500;
      border-bottom: 1px solid #e0e0e0;
      cursor: pointer;
      color: #100f0f;
      text-decoration: none;
      transition: all 0.7s;
      border-radius: 6px;

      > div {
        padding: 20px 5px;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
      }
      &:hover {
        background: rgba(254, 97, 0, 0.1);
      }
    }
  }
}

