
.page-container {
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 56px);
    gap: 25px;
    overflow: hidden;
  }
  .page {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .sized {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content-box {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background: white;
  }
  
  .content-header {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .button {
    max-width: 500px;
    width: 100%;
  }
  
  .ion-button-edit {
    margin-left: 8px;
  }
  
  .ion-button-save {
    margin-top: auto;
  }
  
  .modalContainer {
    display: flex;
    padding: 2rem;
    gap: .2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modalTitle {
    font-weight: 600;
    margin-bottom: .3rem;
  }
  
  .modalDescription {
    font-weight: 300;
  }
  
  .label {
    font-weight: 600;
  }
  
  .timeLabel {
    font-weight: 600;
    font-size: 1.5rem;
  }