.cover {
  background: rgba(33, 33, 33, 0.87);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 3000;
  svg{
    color:#FFFFFF;
    transition: all 0.5s;
  }
  &:hover{
    background: rgba(33, 33, 33, 1);
    transform: scale(1.1);
  }
}
