.timeline{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    &_red{
      height: 100%;
      background-color: #EA5545;
      position: relative;
      &:hover:after{
        background:  #FFFFFF;;
        border-radius: 5px;
        bottom: 26px;
        color: #000000;
        content: attr(title);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 200px;
    }
    }
    &_green{
      height: 100%;
      background-color:  #87BC45;
    }
    &__container{
      width: calc(100% - 120px);
      height: 30px;
      background-color: rgb(156, 154, 154);
      display: flex;
    }
    &__text{
      width:120px;
      padding: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
    }
    &__line{
      padding-left: 120px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

  }