@import 'src/styles/colors.scss';

.wrapper {
  position: relative;
}

.picker {
  position: absolute;
  top: 40px;
  right: 0;
  box-shadow: 0px 4px 8px rgba(73, 72, 55, 0.5);
  border-radius: 4px;
  background-color: var(--White);
  overflow: hidden;
  z-index: 1;
  &_buttons {
    border-top: 1px solid #eff2f7;
    padding: 9px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
