@import '../../styles/media.scss';
@import '../../styles/fonts.scss';

.content {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;

    .title {
      @include h1;
      color: var(--HightEmphasis);
    }

    .selectContainer {
      display: flex;
      .listOfDate {
        margin-left: 10px;
        padding-right: 30px;
      }
    }
  }

  .body {
    height: calc(100vh - 208px);
    display: flex;
    flex-direction: column;
    gap: 10px;

    .noOrder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .title {
        @include h4;
        color: var(--HightEmphasis);
      }

      .subtitle {
        @include body1;
        color: var(--MediumEmphasis);
      }
    }
  }
}

.errorConnection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  &_icon {
    color: var(--LowEmphasis);
  }
  &_desc {
    @include body1;
    color: var(--HightEmphasis);
    text-align: center;
    max-width: 320px;
    &_link {
      text-decoration: none;
      color: var(--Orange);
    }
  }
}

@include md {
  .content {
    .header {
      flex-direction: row;
    }
  }
}
@include lg {
  .content {
    .body {
      flex-direction: row;
    }
  }
}

.menu {
  top: 0;
  right: 0;
  height: 100vh;
  width: 35vw;
  position: relative;
  background-color: #be8b7b;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
  transition: transform 0.3s ease-in-out;

  @media (max-width: 600px) {
    width: 100%;
  }
}
