@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.container {
  display: flex;
  gap: 22px;
  width: 380px;
  max-width: calc(33% - 67px);
  height: 90px;
  padding: 10px 14px;
  background-color: var(--White);
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;

  .logo_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 64px;
    .logo {
      max-width: 100%;
      max-height: 58px;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      @include h5;
      line-height: 24px;
    }

    span {
      @include body2;
      color: var(--LowEmphasis);
    }
  }
}

