@import 'src/styles/fonts';

.listElement {
  width: calc(100% - 8px);
  padding: 10px 0px;
  padding-right: 10px;
  border-bottom: 1px solid var(--Gray88);
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;

  .orderInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .orderName {
      @include body2;
      letter-spacing: 0.15px;
      color: var(--HightEmphasis);
      padding-left: 10px;
    }

    .activeOrder {
      @include h4;
      letter-spacing: 0.15px;
      color: var(--HightEmphasis);
    }

    .orderDate {
      @include caption;
      color: var(--MediumEmphasis);
    }
  }

  .status {
    position: absolute;
    width: 4px;
    height: 40px;
    border-radius: 0px 4px 4px 0px;
  }

  .statusCompleted {
    background: var(--Green);
  }

  .statusStarted {
    background: var(--Orange);
  }
}

.active {
  background: rgba(254, 97, 0, 0.1);
}

.listElement:hover {
  background: rgba(254, 97, 0, 0.1);
}
