@import 'src/styles/fonts';
@import 'src/styles/media';

.wrapper {
  width: 100%;

  .title {
    @include h6;
    color: var(--HightEmphasis);
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
