.input__label {
  font-weight: 600;
  width: 100%;
}

.input__readonly {
  margin-top: 0.5rem;
  width: 100%;
}

.input__value {
  margin-top: 0.5rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}