@import '../../../../styles/media.scss';
@import '../../../../styles/fonts.scss';

.modal {
  width: 90vw;
  height: 90vh;
  padding: 20px;
  justify-content: start;
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      @include h2;
      color: var(--HightEmphasis);
    }
    svg {
      cursor: pointer;
    }
  }
  .form {
    max-width: 320px;
    min-width: 320px;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
  }
  .content {
    margin-top: 30px;
    form {
      display: flex;
      flex-direction: column;
    }

    .levels {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
    .input:not(:first-child) {
      margin-top: 40px;
    }

    .button {
      margin-top: 30px;
      align-self: flex-end;
    }
  }
}

.modalCoordContainer {
  width: calc(100% - 320px);
  height: 100%;
  background-color: #f5f5f5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.area {
  display: flex;
  position: relative;
  height: max-content;
  width: 100%;
  background-color: #f5f5f5;
  .image_container {
    position: relative;
    width: max-content;
    .newCoordinates {
      position: absolute;
      z-index: 5;
      background-color: #ffffff40;
    }
    .draw {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &_img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: top left;
    }
  }

  .scale {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    z-index: 100;
    cursor: pointer;
    transition: all 0.4s;
  }
  .remove {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 101;
    color: white;
    transform: translate(43px, -43px);
    opacity: 10 !important;
    &:hover {
      color: rgb(218, 215, 47);
    }
  }
}

.footer {
  gap: 10px;
  height: 81px;
  width: 100%;
  padding: 10px 30px 20px 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  &__text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 600;
    font-size: 14px;
    span {
      color: red;
    }
  }
}
.oldCoord {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgba(33, 33, 33, 0.6);
  color: #ffffff;
  border: 1px solid #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.response {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 4000;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    padding: 42px 22px 100px 22px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
    }
  }
  .icons {
    width: 40px;
    height: 40px;
    color: green;
  }
}
.ifClose {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.205);
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    min-height: 360px;
    min-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(68, 87, 104, 0.25);
    border-radius: 4px;
  }
  &__header {
    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
    }
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    button {
      width: 53px;
      padding: 5px 0px;
      border-radius: 4px;
      border: none;
      transition: all 0.3s;
      cursor: pointer;
    }
    &_yes {
      background: #fe6100;
      color: #ffffff;
      &:hover {
        background: #8e3600;
      }
    }
    &_no {
      background: inherit;

      &:hover {
        background: #fe6100;
        color: #ffffff;
      }
    }
  }
  .icons {
    width: 40px;
    height: 40px;
    color: green;
  }
}
.close {
  position: absolute;
  right: 40px;
  top: 20px;
}
.modalHide {
  position: absolute;
  top: -50000px;
}
.button_cancel {
  background: #ffffff;
  color: #fe6100;
  &:hover {
    background: #fe6100;
    color: #ffffff;
  }
}
.scaleble {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000f0;
  z-index: 99999;
  &__area {
    display: flex;
    position: relative;
    width: 100%;
    height: max-content;
  }
  &__container {
    position: relative;
    width: max-content;
  }
  img {
    width: 100%;
    max-height: 100%;
  }
  &__close {
    position: absolute;
    bottom: calc(20px);
    right: calc(20px);
  }
}
.addCamera {
  margin-top: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  background: var(--Orange);
  color: var(--White);
  border: none;
  transition: all 0.4s;
  text-decoration: none;
  &:hover {
    background: var(--SaddleBrown);
  }
}
.algorithm {
  width: 100%;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #e0e0e0;
  h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    display: flex;
    gap:8px;
    align-items: baseline;
    transition: all 0.4s;
    svg{
      cursor: pointer;
      fill: #666666;
      &:hover{
        fill:#2c2c2c;
      }
    }
  }
  &__image{
    position: fixed;
    top:170px;
    left: 170px;
    z-index: 9999;
  }
  &__container{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
  }
  &__toggle {
    display: flex;
    align-items: center;
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      
    }
  }
}
