@import '../../../../styles/media.scss';
@import '../../../../styles/fonts.scss';

.listElement {
  width: calc(100% - 8px);
  padding: 10px 0px;
  padding-right: 10px;
  border-bottom: 1px solid var(--Gray88);
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;

  .name {
    @include body2;
    letter-spacing: 0.15px;
    color: var(--HightEmphasis);
    padding-left: 10px;
  }

  .activeItem {
    @include h5;
    letter-spacing: 0.15px;
    color: var(--HightEmphasis);
  }
}

.active {
  background: rgba(254, 97, 0, 0.1);
}

.listElement:hover {
  background: rgba(254, 97, 0, 0.1);
}
