@import '../../styles/media.scss';
@import '../../styles/fonts.scss';

.title {
  @include h2;
  color: var(--HightEmphasis);
  margin-bottom: 40px;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 15px 10px;
  &_title {
    @include caption;
    font-weight: 500;
    color: var(--LowEmphasis);
    margin-bottom: 10px;
  }
  &_count {
    @include h3;
    span {
      @include body1;
    }
  }
}

.database {
  margin-bottom: 70px;
  &_container {
    display: flex;
    justify-content: space-between;
    color: var(--HightEmphasis);
    margin-bottom: 10px;
  }
  &_title {
    @include h3;
  }
  &_desc {
    @include body1;
  }
}

.button {
  background: var(--Orange);
  border-radius: 4px;
  padding: 4px 10px;
  border: none;
  color: var(--White);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
