.wrapper{
  position: fixed;
  top: 20px;
  left: calc(50% - 200px);
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap:10px;
  transition: all 0.3s;
  z-index: 10001;
}
.container {
  width: 400px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  opacity: 1;
  background: #f6cbcb;
  border: 2px solid #e00606;
  color: #B00808;
  .text{
    display: flex;
    align-items: center;
  }
  span{
    margin-left: 10px;
  }
}
.hide{
  display: none;
}
.cross{
  cursor: pointer;
  transition: all 0.4s;
  &:hover{
    transform: scale(1.1);
  }
}