@import './styles/colors.scss';

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-style: normal;
  font-weight: 100 900;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
}
.window {
  width: 100vw;
  height: 100vh;
  display: flex;
  .outlet {
    width: calc(100vw - 160px);
    height: 100vh;
    background-color: #f5f5f5;
    overflow: auto;
    padding: 40px 30px 40px 30px;
  }
}

.swiper-pagination-fraction {
  position: absolute !important;
  top: 20px !important;
  right: 10px !important; 
  left: calc(100% - 70px) !important;
  padding: 5px 15px !important;
  color: white !important;
  width: max-content !important;
  height: max-content !important;
  background: #0000006b;
  border-radius: 21px;
}
.swiper-button-disabled{
  opacity: 0 !important;
}

.swiper-button-prev, .swiper-button-next{
  width: 30px !important;
  height: 30px !important;
  background: #0000006b !important;
  border-radius: 50%;
  transition: all 0.5s;
  &:hover{
    transform: scale(1.1);
  }
  &::after{
    font-size:20px !important;
    color:white !important;
  }
}

.preloader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
  background-color: inherit;
  width: 6px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: inherit
}

::-webkit-scrollbar-track:hover {
  background-color: #fff
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 0px solid #fff
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 1px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.0);
  border-top-color: #fe6100;
  border-left-color: #fe6100;
  border-bottom-color: #fe6100;
  animation: spin 1.2s ease-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
