* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
.fullScreen {
  width: 100%;
  height: 100%;
  padding: 18px 0;
  display: flex;
  background-color: #ededed;
}
.container {
  height: 100%;
  width: calc(100% - 260px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.timelineWrapper {
  height: 100%;
  display: flex;
  overflow: auto;
}
.wrapper {
  max-width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.datetime {
  width: 100px;
  z-index: 2;
}
.text {
  text-align: center;
  font-size: 10px;
  white-space: nowrap; /* Отменяем перенос текста */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 0 5px;
  color: #444343;
}
.tooltip {
  position: relative;
  z-index: 100;
}

.tooltip::before {
  content: attr(title);
  position: absolute;

  top: 20px;
  left: 0;
  padding: 5px 8px;
  background: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #444343;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  border-radius: 6px;
  z-index: 100;
}

.tooltip:hover::before {
  opacity: 1;
  z-index: 100;
}

.orders {
  min-width: 260px;
  border: 1px solid #b4b3b3;
  border-radius: 6px;
  margin: 0 21px 0 30px;
  padding: 10px;
  overflow: hidden;
}
.orders__list {
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: auto;
}
.orders__item {
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  padding: 4px 24px;
  cursor: pointer;
  transition: all 0.4s;
  color: #0056ff;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.orders__item:hover {
  background: #e0e0e0;
}
.select {
  background: #e0e0e0;
}
.gorilla {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 2;
  cursor: pointer;
  transform: rotate(180deg);
  background-color: #ededed;
  z-index: 101;
}
.next {
  position: absolute;
  top: 10px;
  right: 00px;
  width: 100px;
  z-index: 2;
  cursor: pointer;
  background-color: #ededed;
  z-index: 101;
}

.arrow {
  opacity: 0.7;
}
.arrow:hover {
  opacity: 1;
}
.operation {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  z-index: 10;
}

.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}

.video {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #fe6100;
}

.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #666666;
}

.respTime {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #666666;
}

.header {
  position: sticky;
  top: 0;
  height: 0;
  width: 100%;
  height: 40px;
  background-color: #ededed;
  z-index: 100;
}
