
.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.3s ease;
  width:100%;
}