.prompt{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 85%;

    &__title{
        font-weight: 600;
        margin: 6px;
    }

    &__description{
        color: var(--ion-color-medium);
    }
}

